doctype html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd"
head
  meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
  style(type="text/css"): include mail.css
  body(style='padding: 0; width: 100% !important; -webkit-text-size-adjust: 100%; margin: 0; -ms-text-size-adjust: 100%;', marginheight='0', marginwidth='0')
    div(style="text-align:center")
        h1(style="font-size:22px; font-weight:bold; margin:15px 0px;") #{company.name}
        p(style="width: 200px; margin: 0 auto;") #{company.address}
        h3(style="font-size:17px; font-weight:800;") Pay Slip for the period of #{currentMonth}
    br
    div(style="padding: 10px; width: 100%")
        div(style="width:50%; float:left; ")
            div(style="margin-bottom: 10px")
                div(style="width:48%; display: inline-block;" ) Employee Code
                div(style="width:4%; display: inline-block;") :
                div(style="width:48%; display: inline-block;") 122899
            div(style="margin-bottom: 10px")
                div(style="width:48%; display: inline-block;" ) Email ID
                div(style="width:4%; display: inline-block;") :
                div(style="width:48%; display: inline-block; vertical-align: text-top; word-break: break-word;") paalamugan@gmail.com
            div(style="margin-bottom: 10px")
                div(style="width:48%; display: inline-block;" ) Bank Name
                div(style="width:4%; display: inline-block;") :
                div(style="width:48%; display: inline-block; text-transform:uppercase; vertical-align: text-top;") union bank of india
            div(style="margin-bottom: 10px")
                div(style="width:48%; display: inline-block; vertical-align: text-top;" ) Number of Working Days
                div(style="width:4%; display: inline-block;") :
                div(style="width:48%; display: inline-block;") 31
            div(style="margin-bottom: 10px")
                div(style="width:48%; display: inline-block;" ) Date of Joining
                div(style="width:4%; display: inline-block;") :
                div(style="width:48%; display: inline-block;") 20-oct-2018

        div(style="width:50%; float:left;")
            div(style="margin-left:20px;")
                div(style="margin-bottom: 10px")
                    div(style="width:48%; display: inline-block;") Name
                    div(style="width:4%; display: inline-block;") :
                    div(style="width:48%; display: inline-block; vertical-align: text-top;") Paala mugan
                div(style="margin-bottom: 10px")
                    div(style="width:48%; display: inline-block;") Designation
                    div(style="width:4%; display: inline-block;") :
                    div(style="width:48%; display: inline-block; vertical-align: text-top;") Full Stack Developer
                div(style="margin-bottom: 10px")
                    div(style="width:48%; display: inline-block;") Location
                    div(style="width:4%; display: inline-block;") :
                    div(style="width:48%; display: inline-block; vertical-align: text-top;") Chennai
                div(style="margin-bottom: 10px")
                    div(style="width:48%; display: inline-block;") Bank Account Number
                    div(style="width:4%; display: inline-block;") :
                    div(style="width:48%; display: inline-block; vertical-align: text-top;") 8790654738728983
                div(style="margin-bottom: 10px")
                    div(style="width:48%; display: inline-block; vertical-align: text-top;") Income Tax Number(PAN)
                    div(style="width:4%; display: inline-block;") :
                    div(style="width:48%; display: inline-block;") CYSPS4563878
                div(style="margin-bottom: 10px")
                    div(style="width:48%; display: inline-block;") PF Account Number
                    div(style="width:4%; display: inline-block;") :
                    div(style="width:48%; display: inline-block; vertical-align: text-top;") N/A
                div(style="margin-bottom: 10px")
                    div(style="width:48%; display: inline-block;") ESI Number
                    div(style="width:4%; display: inline-block;") :
                    div(style="width:48%; display: inline-block; vertical-align: text-top;") N/A



    table(cellpadding='0', cellspacing='0', align='center', border='0')
      tr
        td(height='10')
      tr
        td(style='padding: 0; padding-bottom: 20px; border-collapse: collapse;')
          table(cellpadding='0', cellspacing='0', align='center', border='0')
            tr(style='font-size: 11px; font-family: \'Open Sans\', \'Lucida Grande\', \'Segoe UI\', Arial, Verdana, \'Lucida Sans Unicode\', Tahoma, \'Sans Serif\'; -webkit-text-size-adjust: none;')
              td(width='260', align='center') © #{year}. #{title} All rights reserved.
