extend ./layouts/main.pug

include ./components/title.pug

block preheader
    | #{`Payslip for ${generatedMonth}`}.

block content
    p
        span= t(`Dear `)
        b= employeeName
        | ,
    p.text-black= t(`We attached a ${generatedMonth} payslip pdf below.`)